<h2>Message Dashboard</h2>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Email</th>
        <th scope="col">Subject</th>
        <th scope="col">Time</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
      <% @inquiries.each_with_index do |inquiry, index| %>
        <tr>
          <td><%= index + 1%></td>
          <td><%= inquiry.email %></td>
          <td><%= inquiry.title%></td>
          <td><%= inquiry.created_at.strftime("%d %b %y") %></td>
          <td>
            <%= link_to admin_inquiry_path(inquiry) do %> 
              <i class="fa-solid fa-circle-arrow-right"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
</div>

