<div class="container my-5 py-5 text-light">
	<div class="row d-flex justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-6">
			<div class="card">
				<div class="card-body p-4">
					<div class="d-flex flex-start w-100">
						<div class="w-100">
							<h4>Add a review</h4>
							<%= form_with model: [:customer, @car, @review] do |f| %>
								<div class="form-outline">
									<%= f.label :comment, class: "form-label" %>
									<p><%= f.text_area :comment, class: "form-control" %></p>

									<br>

									<%= f.label :rating%>
									<p><%= f.number_field :rating, in: 1..5 %></p>

									<br>

									<%= f.hidden_field :car_id, value: @car.id %>
									<%= f.submit, class: "btn btn-success" %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

