<div class="container my-5 py-5 text-dark">
	<div class="row d-flex justify-content-center">
		<div class="col-md-10 col-lg-8 col-xl-6">
		<%= form_with model: [:customer, @car, @review] do |f| %>

			<%= f.label :comment%>
			<p><%= f.text_area :comment%></p>

			<br>

			<%= f.label :rating%>
			<p><%= f.number_field :rating, in: 1..5 %></p>

			<br>

			<%= f.hidden_field :car_id, value: @car.id %>
			<%= f.submit %>
		<% end %>
		</div>
	</div>
</div>

