
<body class="text-center">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<main class="form-signup">
  <form>
    <%= image_tag("Picture1.png")%>
    <h1 class="h2 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </div>


    <div class="form-floating">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password" %>
    </div>

    <br>

    <div class="form-floating">
       <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation" %>
    </div>

    <br>

    <div class="actions">
       <button class="btn btn-lg btn-primary" type="submit">Sign Up</button>
    </div>

  </form>
<% end %>

<%= render "devise/shared/links" %>
  

