<section class="container w-50 bg-secondary rounded-5 p-5">
<%= form_with model: [:customer, @rental] do |f|%>
	
	<div class="mx-5">
		<h4><%= f.label :pick_up, class: "form-label" %></h4>
		
		<%= f.label :pick_up_location, class: "form-label" %>
		<p><%= f.text_field :pick_up_location, class: "form-control" %></p>
		<p><%= f.datetime_field :pick_up, class: "rounded-2" %></p>
	</div>

	<br>

	<div class="mx-5">
		<h4><%= f.label :drop_off, class: "form-label" %></h4>

		<%= f.label :drop_off_location, class: "form-label" %>
		<p><%= f.text_field :drop_off_location, class: "form-control" %></p>
		<p><%= f.datetime_field :drop_off, class: "rounded-2" %></p>
	</div>

	<br>

	<%= f.hidden_field :car_id, value: @car.id%>
	<%= f.submit 'Book Now', class: "btn btn-light" %>

	<%= link_to 'Back To Homepage', customer_cars_path(@cars), class: "btn btn-dark"%>

<%end%>

</section>
