<div class="container">
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Car</th>
	      <th scope="col">Pickup</th>
	      <th scope="col">Dropoff</th>
	      <th scope="col">Status</th>

	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><%= @rental.car.car_name%></th>
	      <td><%= @rental.pick_up%></td>
	      <td><%= @rental.drop_off%></td>
	      <td><%= button_to "Cancel", customer_rental_path(@rental, status: "cancel"), method: :put, class: "btn btn-primary"%></td>
	    </tr>
	  </tbody>
	</table>
</div>




<h2><%= @rental.car.car_name%></h2>

<h5>Pick up</h5>
<p><strong>Date: </strong><%= @rental.pick_up%></p>
<p>Location: <%= @rental.pick_up_location%></p>

<br>

<h5>Drop off</h5>
<p>Date: <%= @rental.drop_off%></p>
<p>Location: <%= @rental.drop_off_location%></p>

<h5>Rental Details</h5>
<p>Duration: <%= @rental.duration%></p>
<p>Total price: <%= @rental.total_price%></p>
<p>Status: <%= @rental.status%>


