<div class="container">
	<br>
	<h2>Rental Details</h2>
	<table class="table">
	  <thead>
	    <tr>
	      <th scope="col">Car</th>
	      <th scope="col">Pickup Date/Time</th>
	      <th scope="col">Dropoff Date/Time</th>
	      <th scope="col">Pickup Location</th>
	      <th scope="col">Dropoff Location</th>
	     	<th scope="col">Duration</th>
	     	<th scope="col">Total Price</th>
	     	<th scope="col">Status</th>
	      <th scope="col">To Pay</th>

	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><%= @rental.car.car_name%></th>
	      <td><%= @rental.pick_up%></td>
	      <td><%= @rental.drop_off%></td>
	      <td><%= @rental.pick_up_location%></td>
	      <td><%= @rental.drop_off_location%></td>
	      <td><%= @rental.duration%></td>
	      <td><%= @rental.total_price%></td>
	      <td><%= @rental.status%></td>
	      <td><%= button_to "Cancel", customer_rental_path(@rental, status: "cancel"), method: :put, class: "btn btn-primary"%></td>
	    </tr>
	  </tbody>
	</table>
	<%= link_to 'Proceed To Payment', new_customer_checkout_path(rental: @rental), method: :get, class: "btn btn-success" %>
</div>




