<h1> Car Rental </h1>

<br>

<% if @cars.any? %>
<div class="container text-center">
	<div class="row align-items-start">
		<% @cars.each do |car| %>
			<div class="col-md-3" > 
				<div class="card border-danger h-100 mb-2">
					<% if car.photos.attached? %>					
						<%= image_tag car.photos.first, class: "img-fluid" %>
					<% end %>				
					 <div class="card-body h-100">
					    <p class="card-text"><%= car.car_name %></p> 
					    <p class="card-text"> RM <%= car.price %> per day</p>
					    <%= link_to 'Click Here', car_path(car), class: 'btn btn-primary' %>
					 </div>
				</div>
			</div>
		<% end %>	
	</div>	
</div>
<% end %>

<br>

<% if user_signed_in? && current_user.is_superadmin? %>
	<%= link_to 'Add Car', new_car_path(@cars)%>
	<br>
<% else %>
	<%= link_to 'Rent Car', new_rental_path(@cars )%>
	<%= link_to 'Ask Us', inquiries_path %>
	<br>
<% end %>
