<br>
<%= form_with model: @rental do |f|%>
	
	<h4>Pick up</h4>
	<%= f.label :pick_up %>
	<p><%= f.datetime_field :pick_up%></p>
	<%= f.label :pick_up_location%>
	<p><%= f.text_field :pick_up_location%></p>
	
	<br>

	<h4>Drop off</h4>
	<%= f.label :drop_off%>
	<p><%= f.datetime_field :drop_off%></p>
	<%= f.label :drop_off_location%>
	<p><%= f.text_field :drop_off_location%></p>

	<br>

	<%= f.hidden_field :car_id, value: @car.id%>
	<%= f.submit 'Book Now'%>
<%end%>

<br>

<button><%= link_to 'Home', cars_path(@cars)%></button>
