<h2><%= @rental.car.car_name%></h2>

<h5>Pick up</h5>
<p>Date: <%= @rental.pick_up%></p>
<p>Location: <%= @rental.pick_up_location%></p>

<br>

<h5>Drop off</h5>
<p>Date: <%= @rental.drop_off%></p>
<p>Location: <%= @rental.drop_off_location%></p>

<%=link_to 'Home', root_path%>



