<div class="container w-50 bg-secondary border border-5 rounded-5 p-5">
    <body class="text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <main class="form-signin">
    <form>
      <%= image_tag('Picture1.png', height: 200 )%>
      <h1 class="h2 mb-3 fw-normal">Please sign in</h1>

    
      <div>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
      </div>

      <br>

      <div>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>
      </div>

    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
    <% end %>

      <div class="actions">
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
      </div>

    </form>

  </main>

  <% end %>
  <%= render "devise/shared/links" %>

    </body>
</div>
