
<div class="wrapper text-center">
  <div class="response container">
    <div class="content">
      <% if @result %>

        <h1><%= @result[:header] %></h1>
        <section>
          <p><%= @result[:message] %></p>
        </section>
      <% else %>
        <section>
          <p>Test another transaction or see the Braintree API response.</p>
      </section>

      <% end %>

    </div>
  </div>
</div>



<article class="content content">
  <section class="container container-fluid m-5">
    <h5>Transaction</h5>

      <table cellpadding="0" cellspacing="0">
        <tbody>
          <tr>
            <th>id</th>
            <td><%= @transaction.id %></td>
          </tr>
          <tr>
            <th>type</th>
            <td><%= @transaction.type %></td>
          </tr>
          <tr>
            <th>amount</th>
            <td><%= @transaction.amount %></td>
          </tr>
          <tr>
            <th>status</th>
            <td><%= @transaction.status %></td>
          </tr>
          <tr>
            <th>created_at</th>
            <td><%= @transaction.created_at %></td>
          </tr>
          <tr>
            <th>updated_at</th>
            <td><%= @transaction.updated_at %></td>
          </tr>
        </tbody>
      </table>
  </section>

</article>

