
<div class="wrapper text-center">
  <div class="response container">
    <div class="content">
      <% if @result %>

        <h1><%= @result[:header] %></h1>
        <section>
          <p><%= @result[:message] %></p>
        </section>
      <% else %>
        <section>
          <p>Test another transaction or see the Braintree API response.</p>
      </section>

      <% end %>

    </div>
  </div>
</div>

<div class="card">
  <div class="card-body mx-4">
    <div class="container">
      <p class="my-5 mx-5" style="font-size: 30px;">Your Payment</p>
      <div class="row">
        <ul class="list-unstyled">
          <li class="text-muted mt-1"><span class="text-black">Transaction id</span> <%= @transaction.id %></li>
          <li class="text-muted mt-1"><span class="text-black">Created at</span> <%= @transaction.created_at %></li>
          <li class="text-muted mt-1"><span class="text-black">Updated at</span> <%= @transaction.updated_at %></li>
          <li class="text-muted mt-1"><span class="text-black">Transaction type</span> <%= @transaction.type %></li>
        </ul>
        <hr>
        <div class="col-xl-10">
          <p>Status</p>
        </div>
        <div class="col-xl-2">
          <p class="float-end"><%= @transaction.status %>
          </p>
        </div>
        <hr>
      </div>
      <div class="row">
        <div class="col-xl-10">
          <p>Amount</p>
        </div>
        <div class="col-xl-2">
          <p class="float-end"><%= @transaction.amount %>
          </p>
        </div>
        <hr>
      </div>
        <div class="col-xl-12">
          <p class="float-end fw-bold">Total: <%= @transaction.amount %>
          </p>
        </div>
        <hr style="border: 2px solid black;">
      </div>

    </div>
  </div>
</div>
