<%=link_to 'Home', root_path%>

<br>

<h1><%= @car.car_name %></h1>
<br>
<% if @car.photos.attached? %>
	<% @car.photos.each do |photo| %>
		<%= image_tag photo, width: 400, height: 300%>
	<%end%>
<%else%>
	<p>No photo found.</p>
<%end%>

<p>Category: <%= @car.category %></p>
<p>Capacity: <%= @car.capacity %></p>
<p>Description: <%= @car.description%></p>
<p>Price: RM <%= @car.price %> per day</p>

<br>

<% if current_user.is_superadmin? %>
	<%=link_to 'Edit', edit_car_path(@car)%>
	<br>
	<%= button_to 'Delete', car_path(@car), method: :delete,
		data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
<%else%>
	<%= link_to 'Rent Car', new_rental_path(car_id: @car.id)%>
	<br>
	<%= link_to 'Add Review', new_car_review_path(car_id: @car.id)%>
<%end%>

<br>

<h4>Reviews</h4>

<%if @car.reviews.any?%>
	<ul>
		<% @car.reviews.each do |review|%>
		<li>
			<%= review.comment%>
			<p>Rating: <%= review.rating%>/5<p>
			<%= review.user.email%>
			<%= review.created_at%>
			<br>
			<% if current_user.is_customer? %>
				<%= link_to 'Edit', edit_car_review_path(@car, review)%>
			<%else%>
				<%= link_to 'Delete', car_review_path(@car, review), method: :delete,
					data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
			<%end%>
			<br>
		</li>
			<%end%>
	</ul>
<%else%>
	No review.
<%end%>

#edit button not working

