<%= form_with model: @inquiry do |f| %>
	
	<%= f.label :email%>
	<p><%= f.text_field :email %></p>
	
	<%= f.label :message_box%>
	<p><%= f.text_area :message_box %></p>
	
	<%= f.submit 'Send' %>
<%end%>
