<h3><%= @inquiry.title %></h3>
<p>Posted by: <%= @inquiry.email %> <%= time_ago_in_words(@inquiry.created_at) %></p>

<p><%= @inquiry.message_box %></p>


<div class="d-flex gap-1">
<%= link_to edit_inquiry_path(@inquiry) do %>
	<i class="fa-regular fa-pen-to-square"></i>
<% end %>

<%= link_to inquiry_path(@inquiry), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
	<i class="fa-regular fa-trash-can"></i>
<% end %>
</div>

<%= link_to "Message dashboard", inquiries_path %>
