<%= form_for([@car, @review]) do |f| %>
	<% f.label :comment%>
	<p><%= f.text_area :comment%></p>

	<br>

	<% f.label :rating%>
	<p><%= f.number_field :rating, in: 1..5 %></p>

	<br>

	<%= f.hidden_field :car_id, value: @car.id %>
	<%= f.submit %>
<% end %>

