<%= form_with model: [:customer, @inquiry] do |f|%>
	
	<%= f.label :title%>
	<p><%= f.text_field :title %></p>
	
	<%= f.label :message_box%>
	<p><%= f.text_area :message_box %></p>
	
	<%= f.submit 'Send' %>
<%end%>
