<div class="container pt-5">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title"><%= @inquiry.title %></h5>
					<h6 class="card-subtitle mb-2 text-muted">Posted by: <%= @inquiry.email %> <%= time_ago_in_words(@inquiry.created_at) %></h6>
					<p class="card-text"><%= @inquiry.message_box %></p>
					<div class="d-flex gap-1">
					<%= link_to edit_customer_inquiry_path(@inquiry) do %>
						<i class="fa-regular fa-pen-to-square"></i>
					<% end %>

					<%= link_to customer_inquiry_path(@inquiry), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do%>
						<i class="fa-regular fa-trash-can"></i>
					<% end %>
					</div>

					<%= link_to 'Back to Homepage', root_path %>
				</div>
			</div>
		</div>
	</div>
</div>
